[Unit]
Description=Gunicorn instance to serve Shavzak API
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/shavzak/back
Environment="PATH=/var/www/shavzak/back/venv/bin"
ExecStart=/var/www/shavzak/back/venv/bin/gunicorn --workers 3 --bind unix:shavzak.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target
